@import "./_color.scss";
@import "./_font.scss";

body {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  margin-block: 20px;
}

/* header */

header {
  top: 0;
  nav {
    display: none;
  }
}
/* home */
/* about */
/* flavour */
/* customer reviews */
/* cookies pop-up */
dialog.cookieDialog {
  .cookieHeader {
    margin-bottom: 15px;
  }
  .cookieBody {
    flex-direction: column;
    flex-wrap: nowrap;
    p {
      margin: 0;
      text-align: center;
    }
    .cookieBodyBtnContainer {
      flex-direction: row;
      height: fit-content;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0px;
      justify-content: center;
      gap: 40px;
    }
  }
  .cookieFooter {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }
}
/* footer */
/* contact */
