@import "./_color.scss";
@import "./_font.scss";

body {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  margin-block: 20px;
  main {
    grid-column: 1 / span 12;
  }
}

/* header */

header {
  top: 0;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 3px grey;
  position: fixed;

  img {
    margin-left: 0;
    position: relative;
    height: 60%;
  }
  .offScreenMenu {
    top: 0;
    width: 100vw;
    height: 5rem;
    margin: 0;
    border: none;
    box-shadow: none;
    right: 0.5em;
  }
  .offScreenMenu ul {
    display: flex;
  }
  .offScreenMenu li {
    display: inline-block;
    padding: 0 30px;
    position: relative;
  }
  ul li:not(:last-child)::after {
    content: "";
    border: 1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
  }

  .menuPartOne li:last-child {
    margin-left: -5px;
  }

  .menuPartTwo li:last-child {
    margin-left: -5px;
  }

  .menuPartOne {
    left: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .menuPartTwo {
    right: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  nav {
    display: none;
  }
}
/* home */
/* about */
section.about {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  background-image: url("assets/images/middle/middle_large.webp");
  margin-top: 50px;
  margin-bottom: 50px;
  position: static;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  margin-top: 0px;
  height: 650px;

  div.aboutImgContainer {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 0;
    img {
      position: static;
      width: 360px;
      height: 360px;
    }
  }
  .aboutSplats {
    position: relative;
    height: fit-content;
    article {
      position: absolute;
      height: fit-content;
      width: 411px;
      top: 50px;
      color: white;
      h3 {
        margin-bottom: 20px;
      }
    }
    .aboutImg2 {
      position: absolute;
      bottom: 4%;
      left: 65%;
    }
    .aboutImg3 {
      position: absolute;
      bottom: 6%;
      left: 25%;
    }
  }
}
/* flavour */
/* customer reviews */
.customerReview {
  height: 1030px;
  .customerReviewHeading,
  .reviewSlogan {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2.8px;
  }

  .customerReviewHeading {
    text-align: left;
    margin: 0;
    padding-left: 5%;
    padding-bottom: 100px;
  }
  .reviewContainer,
  .reviewContainerRight {
    position: absolute;
    width: 329px;
  }
  :nth-child(2) {
    left: 11%;
  }
  :nth-child(3) {
    right: 57%;
    top: 49%;
  }
  :nth-child(4) {
    left: 9%;
    top: 69%;
  }
  .reviewSlogan {
    position: absolute;
    top: 750px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2.8px;
    max-width: 600px;
    margin-left: 55%;
    margin-right: 0;
  }
  .reviewCircleEffect {
    top: 400px;
  }
}

/* cookies pop-up */
dialog.cookieDialog {
  .cookieHeader {
    margin-bottom: 15px;
  }
  .cookieBody {
    flex-direction: column;
    flex-wrap: nowrap;
    p {
      margin: 0;
      text-align: center;
    }
    .cookieBodyBtnContainer {
      flex-direction: row;
      height: fit-content;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0px;
      justify-content: center;
      gap: 40px;
    }
  }
  .cookieFooter {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }
}
/* footer */
/* contact */
