@import "./_color.scss";
@import "./_font.scss";

body {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  margin-block: 20px;
  main {
    grid-column: 1 / span 12;
  }
}

/* header */
/* home */
/* about */
/* flavour */
/* customer reviews */
.customerReview {
  height: 1030px;
  .customerReviewHeading,
  .reviewSlogan {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2.8px;
  }

  .customerReviewHeading {
    text-align: left;
    margin: 0;
    padding-left: 5%;
    padding-bottom: 100px;
  }
  .reviewContainer,
  .reviewContainerRight {
    position: absolute;
    width: 329px;
  }
  :nth-child(2) {
    left: 11%;
  }
  :nth-child(3) {
    right: 57%;
    top: 49%;
  }
  :nth-child(4) {
    left: 9%;
    top: 69%;
  }
  .reviewSlogan {
    position: absolute;
    top: 750px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2.8px;
    max-width: 600px;
    margin-left: 55%;
    margin-right: 0;
  }
  .reviewCircleEffect {
    top: 400px;
  }
}

/* cookies pop-up */
dialog.cookieDialog {
  .cookieHeader {
    margin-bottom: 15px;
  }
  .cookieBody {
    flex-direction: column;
    flex-wrap: nowrap;
    p {
      margin: 0;
      text-align: center;
    }
    .cookieBodyBtnContainer {
      flex-direction: row;
      height: fit-content;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0px;
      justify-content: center;
      gap: 40px;
    }
  }
  .cookieFooter {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }
}
/* footer */
footer {
  grid-column: 1 / span 12;
  background-image: url(assets/images/footer/footer_desktop.webp);
  padding-inline: 20px;
  row-gap: 5px;

  .footerAmorellaLogo,
  .footerLanguageSelector {
    justify-self: normal;
    grid-column: 1 / span 12;
  }
  .footerAmorellaLogo {
    width: 125px;
    padding-top: 90px;
    grid-row: 1;
  }
  .footerContactText {
    padding-top: 80px;
    justify-self: center;
    align-self: end;
    grid-column: 5 / span 4;
    grid-row: 1 / span 2;
  }
  .footerContactContainer {
    justify-self: right;
    grid-column: 5 / span 3;
    grid-row: 3 / span 2;
    grid-template-columns: 20% 80%;
    row-gap: 16px;
    align-items: normal;
    margin-bottom: 0;
    margin-top: 20px;
    .footerPhoneSvg,
    .footerEmailSvg,
    .footerLocationSvg {
      justify-self: normal;
    }
    .footerContactPhone {
      width: 130px;
    }
    .footerContactLocation {
      width: 111px;
    }
  }

  .footerSocialsContainer {
    justify-self: normal;
    align-self: end;
    grid-column: 10 / span 1;
    grid-row: 3 / span 2;
    .footerFacebookImg,
    .footerTwitterImg,
    .footerInstagramImg {
      margin-left: 0;
      padding-top: 0;
    }
    .footerSocialsText {
      justify-self: left;
      padding-top: 25px;
      padding-bottom: 10px;
      grid-column: span 3;
      font-size: 20px;
    }
  }

  .footerSubscriptionContainer {
    grid-column: 10 / span 4; //
    grid-row: 1; //
    width: 20vw; //
    margin-block: 0;
    justify-self: left;
    margin-top: 80px;
  }

  .footerDecorativeLine {
    margin-top: 35px;
    width: 95vw;
    grid-column: 1 / span 12;
    grid-row: 6;
  }

  .footerCookiePolicy,
  .footerCopyright
  //.footerContactContainer,
  //.footerContactText
  {
    justify-self: center;
    grid-column: 5 / span 4;
    margin: 0;
    padding: 0;
  }

  .footerLanguageSelector {
    grid-row: 7 / span 2;
    align-self: center;
  }

  .footerCookiePolicy {
    padding-top: 16px;
    grid-row: 7;
  }
  .footerCopyright {
    grid-row: 8;
    padding-bottom: 20px;
  }
}

/* contact */
