@import "./_color.scss";
@import "./_font.scss";

body {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 20px;
  margin: 0;
  background-color: $tertiaryColor;
  overflow-x: hidden;

  main {
    grid-column: 1 / span 4;
    width: 100%;
    height: fit-content;
  }
}
/* header */
header {
  background-color: $primaryColor;
  width: 100vw;
  height: 5em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: fixed;
  img {
    height: 35%;
    margin-left: 1em;
    z-index: 99;
  }
  .offScreenMenu {
    background-color: $primaryColor;
    width: 100vw;
    position: fixed;
    top: -62vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    transition: 0.3s ease;
    margin-top: 5em;
    z-index: 10;
  }
  .offScreenMenu ul {
    list-style: none;
    color: white;
    text-align: center;
    padding-inline-start: 0;
  }
  .offScreenMenu li {
    padding: 0.5em;
  }
  .offScreenMenu.active {
    top: 0;
  }
  nav {
    padding: 0.8rem;
    position: absolute;
    width: 100vw;
    .hamMenu {
      height: 50px;
      width: 50px;
      margin-left: auto;
      position: relative;
    }
    .hamMenu span {
      height: 5px;
      width: 80%;
      background-color: white;
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
    }

    .hamMenu span:nth-child(1) {
      top: 25%;
    }

    .hamMenu span:nth-child(2) {
      top: 75%;
    }

    .hamMenu.active span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamMenu.active span:nth-child(2) {
      opacity: 0;
    }

    .hamMenu.active span:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
/* home */
section.homeSection {
  width: auto;
  height: auto;
  z-index: -1;

  .homeHeader,
  .newIcecreamArticleHeader {
    line-height: 40px;
  }

  .homeStarBg {
    position: absolute;
    transform: translateX(-50%) rotate(21.07deg);
    z-index: -1;
    left: 50%;
    height: 270.45px;
    width: 270.45px;
    top: 90px;
    overflow: hidden;
  }

  .homeHeader {
    left: 50%;
    position: relative;
    font-size: 2.62rem;
    color: $primaryColor;
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    transform: translateX(-50%);
    padding-top: 110px;
    margin-bottom: 30px;
    z-index: -1;
  }

  .newIcecreamArticle {
    width: 300px;
    height: 461px;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 4px solid $primaryColor;
    margin: auto;
    margin-top: 50px;
    position: relative;
    z-index: -1;

    .newIcecreamArticleHeader {
      position: absolute;
      font-size: 3.5rem;
      margin: 0;
      transform: rotate(16.79deg);
      right: -15px;
      color: $yellowColor;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $primaryColor;
      text-transform: uppercase;
    }

    .newIceCreamImg {
      width: 100%;
      height: 302px;
      border-radius: 16px 16px 0 0;
      border-bottom: none;
    }

    .newIcecreamArticleTxt {
      margin: 0;
      color: $hoverColor;
      font-weight: bold;
      font-size: 1rem;
      width: 202px;
      margin-left: 50px;
      margin-top: 20px;
    }

    .newIcecreamBtn {
      background-color: $primaryColor;
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      text-transform: uppercase;
      width: 200px;
      height: 40px;
      margin-left: 50px;
      padding: 0;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      margin-top: 19px;
      cursor: pointer;
    }
  }
  .whiteBackground {
    position: absolute;
    top: 510px;
    z-index: -3;
    width: 100%;
    height: 414px;
  }
  .chewingGum1,
  .chewingGum2,
  .chewingGum3,
  .chewingGum4 {
    position: relative;
    z-index: -2;
  }

  .chewingGum1 {
    width: 35px;
    height: 25px;
    left: -12px;
    top: -220px;
  }

  .chewingGum2 {
    width: 35px;
    height: 25px;
    left: -40px;
    top: 5px;
  }

  .chewingGum3 {
    width: 43px;
    height: 31px;
    left: 60px;
    bottom: -5px;
  }

  .chewingGum4 {
    width: 60px;
    height: 42.67px;
    top: 110px;
    right: -70px;
  }
}
/* about */

/* flavour */
.flavourSection {
  height: 100vh;

  h5 {
    line-height: 40px;
    font-size: 2rem;
  }

  .flavourHeading {
    margin-top: 171px;
    color: $primaryColor;
    text-align: center;
    // width: px;
  }

  .pistachioArticle {
    height: 452px;
    width: 258px;
    background-color: #fff;
    margin: auto;
    border-radius: 20px;
    border: 4px solid #fff;
    position: relative;
    .pistachioImg {
      position: absolute;
    }

    .pistachioHeader {
      position: absolute;
      top: -100px;
    }

    .pistachioIcecreamImg {
      border-radius: 20px 20px 0 0;
    }
    .pistachioArticleTxt {
      font-size: 1rem;
      padding: 30px 0 30px 0;
      margin: 0 30px 0 30px;
      width: 190px;
      height: 57px;
    }
  }
}

/* customer reviews */

/* cookies pop-up */
dialog.cookieDialog {
  z-index: 900;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: fit-content;
  padding: 0;
  border: 1px solid $primaryColor;
  .cookieHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 43px;
    padding: 2px 10px 2px 25px;
    background-color: $primaryColor;
    color: white;
    p {
      align-self: center;
    }
    .cookieHeaderCloseBtn {
      background-color: $primaryColor;
      border: none;
      height: auto;
      aspect-ratio: 1;
    }
  }
  .cookieBody {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px;
    justify-content: center;
    .cookieBodyBtnContainer {
      display: flex;
      flex-direction: column;
      height: 170px;
      width: 200px;
      margin-block: 25px;
      justify-content: space-between;
      button {
        width: 200px;
        height: 43px;
        border: none;
        border-radius: 20px;
        background-color: $primaryColor;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
      }
      button:active {
        background-color: white;
      }
      button.cookieBodyRejectAllBtn {
        background-color: white;
        border: 1px solid $hoverColor;
        color: $hoverColor;
      }
      button.cookieBodyRejectAllBtn:active {
        background-color: white;
      }
    }
  }
  .cookieFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
/* footer */
footer {
  display: grid;
  grid-column: 1 / 5;
  grid-row: auto;
  grid-template-columns: subgrid;
  row-gap: 20px;
  background-image: url(../assets/images/footer/footer_mobile.webp);
  background-size: cover;
  width: 100vw;
  bottom: 0;
  color: white;
  p {
    margin: 0;
  }
  .footerAmorellaLogo,
  .footerContactText,
  .footerContactContainer,
  .footerSocialsText,
  .footerSocialsContainer,
  .footerSubscriptionContainer,
  .footerDecorativeLine,
  .footerLanguageSelector,
  .footerCookiePolicy,
  .footerCopyright {
    justify-self: center;
    grid-column: 2 / span 2;
  }

  .footerAmorellaLogo {
    display: grid;
    padding-top: 70%;
    width: 148.42px;
  }
  .footerContactText,
  .footerSocialsText {
    font-size: large;
    font-weight: bold;
  }
  .footerContactText {
    padding-top: 50%;
  }
  .footerContactContainer {
    display: grid;
    grid-template-columns: 25% 75%;
    row-gap: 20%;
    align-items: center;
    margin-bottom: 30%;
    .footerPhoneSvg,
    .footerEmailSvg,
    .footerLocationSvg {
      height: auto;
      width: 20px;
      justify-self: center;
    }
    .footerContactLocation {
      width: 100px;
    }
  }

  .footerSocialsContainer {
    display: grid;
    .footerFacebookImg,
    .footerTwitterImg,
    .footerInstagramImg {
      width: 33px;
      height: 33px;
      margin-left: 6px;
      margin-right: 6px;
    }
    .footerSocialsText {
      padding-bottom: 10%;
      grid-column: span 3;
    }
  }

  // Disabled state
  .footerSubscriptionContainer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    border: 0.8px solid white;
    border-radius: 20px;
    margin-block: 35%;
    .footerSubscriptionInput {
      border: none;
      background-color: transparent;
      height: 36px;
      width: 100px;
      padding-left: 20px;
      &::placeholder {
        color: white;
        font-weight: 400;
        font-size: small;
      }
    }
    .footerSubscriptionBtn {
      border: none;
      border-radius: 20px;
      color: $primaryColor;
      background-color: white;
      font-weight: 400;
      font-size: 16px;
      height: 36px;
      width: 120px;
    }
  }

  .footerDecorativeLine {
    height: 1px;
    width: 90vw;
    background-color: white;
  }
  .footerCopyright {
    opacity: 60%;
    white-space: nowrap;
    margin-bottom: 15%;
  }
}
/* contact */
