@import "./_color.scss";
@import "./_font.scss";

body {
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 25px;
  main {
    grid-column: 1 / span 8;
  }
}

/* header */
/* home */
section.homeSection {
  background-image: url("assets/images/Landing.webp");
  width: 100%;
  height: 1037px;
  background-repeat: no-repeat;
  background-position: 93% center;
  margin-top: 74px;

  .homeHeadline {
    color: $primaryColor;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    // font-size: 42px;
    max-width: 680px;
    margin: auto;
    position: relative;

    h3 {
      font-size: 2.62rem;
      padding-top: 300px;
      position: relative;
      line-height: 40px;
      z-index: 2;
    }

    .chewingGum1,
    .chewingGum3,
    .chewingGum4,
    .chewingGum5,
    .chewingGum6,
    .chewingGum7 {
      z-index: 1;
      position: absolute;
    }

    .chewingGum1 {
      width: 75.71px;
      height: 62.23px;
      top: 283px;
      left: -30px;
    }

    .chewingGum2 {
      width: 44.16px;
      height: 36.46px;
      top: -190px;
      left: 0;
      z-index: 0;
    }

    .chewingGum3 {
      width: 44.16px;
      height: 36.46px;
      top: 270px;
      left: 120px;
    }
  }
}
/* about */
/* flavour */
/* customer reviews */
/* cookies pop-up */
/* footer */
/* contact */
